.sidebar {
    text-align: right;
    background-color: white;
    width: 320px;
    padding: 1.5rem;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    transition: all 0.3s;
    transform: translateX(100%);
}
@media screen and (min-width: 992px) {
    .sidebar {
        display: none;
    }
}
.sidebar.show-sidebar {
    transform: translateX(0);
}
.sidebar .sidebar-header button.close-sidebar {
    font-size: 2rem;
    color: red;
}
.sidebar li {
    padding: 1rem 0;
}
.sidebar a {
    text-transform: capitalize;
    color: #2c5364;
}
.sidebar ul.social-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: right;
}
.sidebar ul.social-icons svg {
    font-size: 1.5rem;
    color: #551a8b;
}
